## Session 3 - Data cleaning

Today we're going to look at how to clean data using pandas

In [12]:
# First lets read in some movie metadata that we know needs cleaning. 
# This dataset is from Kaggle (https://www.kaggle.com/datasets/carolzhangdc/imdb-5000-movie-dataset)

import pandas as pd

data = pd.read_csv('data/movie_metadata_unclean.csv')

data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## Let's examine our data


1. When we look at the dataset  we can start to note down the problems, and then we’ll come up with solutions to fix those problems.

2. Pandas has some selection methods which we can use to slice and dice the dataset based on your queries.

EXAMPLES:

- Look at the some basic stats for the ‘imdb_score’ column: `data.imdb_score.describe()`
- Select a column: `data[‘movie_title’]`
- Select the first 10 rows of a column: `data[‘duration’][:10]`
- Select multiple columns: `data[[‘budget’,’gross’]]`
- Select all movies over two hours long: `data[data[‘duration’] > 120]`

In [3]:
data.imdb_score.describe()

count    5043.000000
mean        6.442138
std         1.125116
min         1.600000
25%         5.800000
50%         6.600000
75%         7.200000
max         9.500000
Name: imdb_score, dtype: float64

In [4]:
data['movie_title']

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [9]:
data[['movie_title','duration']][:10]
data['duration'].head(10)
# same purpose

                                         movie_title  duration
0                                            Avatar      178.0
1          Pirates of the Caribbean: At World's End      169.0
2                                           Spectre      148.0
3                             The Dark Knight Rises      164.0
4  Star Wars: Episode VII - The Force Awakens    ...       NaN
5                                       John Carter      132.0
6                                      Spider-Man 3      156.0
7                                           Tangled      100.0
8                           Avengers: Age of Ultron      141.0
9            Harry Potter and the Half-Blood Prince      153.0

In [8]:
data[['budget','gross']]

           budget        gross
0     237000000.0  760505847.0
1     300000000.0  309404152.0
2     245000000.0  200074175.0
3     250000000.0  448130642.0
4             NaN          NaN
...           ...          ...
5038          NaN          NaN
5039          NaN          NaN
5040       1400.0          NaN
5041          NaN      10443.0
5042       1100.0      85222.0

[5043 rows x 2 columns]

In [10]:
data[data['duration'] > 120]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4842,Color,Julie Taymor,156.0,133.0,278.0,107.0,T.V. Carpio,5000.0,24343673.0,Drama|Fantasy|Musical|Romance,...,524.0,English,USA,PG-13,45000000.0,2007.0,117.0,7.4,2.35,14000
4885,Black and White,King Vidor,48.0,151.0,54.0,6.0,Renée Adorée,81.0,NaN,Drama|Romance|War,...,45.0,NaN,USA,Not Rated,245000.0,1925.0,12.0,8.3,1.33,226
4894,Color,Richard Fleischer,69.0,127.0,130.0,51.0,Robert J. Wilke,618.0,NaN,Adventure|Drama|Family|Fantasy|Sci-Fi,...,108.0,English,USA,Approved,5000000.0,1954.0,53.0,7.2,1.37,0
4912,Black and White,Carl Theodor Dreyer,54.0,126.0,147.0,0.0,Sylvia Eckhausen,0.0,NaN,Drama|Fantasy,...,49.0,Danish,Denmark,Not Rated,NaN,1955.0,0.0,8.1,1.37,863
5020,NaN,Brandon Landers,NaN,143.0,8.0,8.0,Alana Kaniewski,720.0,NaN,Drama|Horror|Thriller,...,8.0,English,USA,NaN,17350.0,2011.0,19.0,3.0,NaN,33

## Missing Data

One of the most common problems is missing data. This could be because it was never filled out properly, the data wasn’t available, or there was a computing error. 

> __IMPORTANT: if we leave the blank values in there, it will cause errors in analysis later on, so we need to process the data to deal with missing values__

OPTIONS:

- Add in a default value for the missing data
- Get rid of (delete) the rows that have missing data
- Get rid of (delete) the columns that have a high incidence of missing data

In [14]:
# Let's see how many non-null values in each column
len(data) - data.count()
(len(data)-data.count()).sort_values()

cast_total_facebook_likes      0
imdb_score                     0
movie_imdb_link                0
num_voted_users                0
movie_title                    0
genres                         0
movie_facebook_likes           0
country                        5
actor_1_facebook_likes         7
actor_1_name                   7
actor_2_facebook_likes        13
actor_2_name                  13
facenumber_in_poster          13
language                      14
duration                      15
color                         19
num_user_for_reviews          21
actor_3_facebook_likes        23
actor_3_name                  23
num_critic_for_reviews        50
director_facebook_likes      104
director_name                104
title_year                   108
plot_keywords                153
content_rating               303
aspect_ratio                 329
budget                       492
gross                        884
dtype: int64

## Add default values

- Let's get rid of all those nasty NaN values. 
- QUESTION: what to put in its place? This is where we need to jugde the dataset and make an executive decision!

For our example, let’s look at the ‘country’ column. It’s straightforward enough, but some of the movies don’t have a country provided so the data shows up as NaN. In this case, we probably don’t want to assume the country, so we can replace it with an __empty string__ or some other default value.

In [15]:
#checking if the country value is null.
data.country.isna()

0       False
1       False
2       False
3       False
4        True
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: country, Length: 5043, dtype: bool

In [16]:
# Let's see which films don't have a country
data[['movie_title', 'country']][data.country.isna()]

                                            movie_title country
4     Star Wars: Episode VII - The Force Awakens    ...     NaN
279                            10,000 B.C.                  NaN
2370                      Gone, Baby, Gone                  NaN
3397                              Preacher                  NaN
4021                                       Dawn Patrol      NaN

In [18]:
# This replaces the NaN entries in the ‘country’ column with the empty string, 
# but we could just as easily tell it to replace with a default name such as “Not known” or "Other".

data.country = data.country.fillna('')

data.loc[[4, 279, 2370]][['movie_title', 'country']]

                                            movie_title country
4     Star Wars: Episode VII - The Force Awakens    ...
279                            10,000 B.C.
2370                      Gone, Baby, Gone

In [19]:
# Now let's look at a numeric column - duration

data[['movie_title', 'duration']][data.duration.isna()]

                                            movie_title  duration
4     Star Wars: Episode VII - The Force Awakens    ...       NaN
199      Harry Potter and the Deathly Hallows: Part II        NaN
206       Harry Potter and the Deathly Hallows: Part I        NaN
1510                               Black Water Transit        NaN
3604                           War & Peace                    NaN
3815                              Should've Been Romeo        NaN
3834                                             Barfi        NaN
4299                            Hum To Mohabbat Karega        NaN
4392                                          N-Secure        NaN
4397                               Dil Jo Bhi Kahey...        NaN
4517                            Wolf Creek                    NaN
4609                                 Karachi se Lahore        NaN
4690                                           Destiny        NaN
4948                                  Romantic Schemer        NaN
4989                                     The Naked Ape        NaN

In [20]:
# With numerical data like the "duration" of the movie, 
# a calculation like taking the *mean duration* can help us even the dataset out. 

# That way we don’t have crazy numbers like 0 or NaN throwing off our analysis.

data.duration = data.duration.fillna(data.duration.mean())

data.loc[[4]][['movie_title', 'duration']]

                                         movie_title    duration
4  Star Wars: Episode VII - The Force Awakens    ...  107.201074

## Remove incomplete rows

- Now we want to get rid of any rows that have a missing value. 
- It’s a pretty aggressive technique, but there may be a use case where that’s exactly what __we want to do.__

In [21]:
# Let's create a copy of the data set to play with and count the rows
test_data = data.copy()
test_data.shape

(5043, 28)

In [25]:
# Let's test dropping all rows with any NA values:
test_data = data.copy()
test_data.dropna(how = 'any', inplace=True)
# how = 'any' is default, meaning the row will be dropped if there's at least one missing value.
test_data.shape

(3755, 28)

In [27]:
# We can also drop rows that have ALL NA values (which we don't have any of):
test_data = data.copy()
# if we only drop the ones with all missing values
test_data.dropna(how = 'all', inplace=True)
test_data.shape

(5043, 28)

In [28]:
# Put a limitation on how many non-null values need to be in a row in order to keep it 
# (in this example, the data needs to have at least 25 non-null values):
test_data = data.copy()
# if we allow up to 3 missing values
test_data.dropna(thresh=25, inplace=True)
test_data.shape

(4848, 28)

In [29]:
# In this instance that we don’t want to include any movie 
# that doesn’t have information on when the movie came out:
test_data = data.copy()

test_data.dropna(subset=['title_year'], inplace=True)
#if we want to drop rows that has null value in either title_year or movie_title
test_data.dropna(subset = ['title_year', 'movie_title'], inplace = True)
#if we drop rows only if both columns has null values.
test_data.dropna(subset=['title_year', 'movie_title'], how = "all", inplace=True)
test_data.shape

(4935, 28)

## Dealing  with error-prone columns

- We can apply the same kind of criteria to our __columns.__ 
- But we just need to use the parameter __axis=1__ in our code. 
- That means to operate on columns, not rows. 

> _Do not run the code below if you do not want to delete data - otherwise feel free to experiment!_

In [30]:
# Drop the columns with that are all NA values (we don't have any of these):
test_data = data.copy()

test_data.dropna(axis=1, how='all', inplace=True)
test_data.shape

(5043, 28)

In [31]:
# Drop all columns with *any* NA values:
test_data = data.copy()

test_data.dropna(axis=1, how='any', inplace=True)
test_data.shape

# Note: we can use same threshold and subset params as we did with rows

(5043, 9)

## Normalize data types

- Sometimes, especially when we are reading in a CSV with a bunch of numbers, some of the numbers will read in as __strings__ instead of numeric values, or vice versa.

- Let's review a couple of ways to fix and normlise our data types.

- Please note that we are going to read data from disk again, so the types are converted on data rparsing

- If we just run the next line of code it owuld throw an error! Complaining about NaN values. We need to save our previous results into a file and then read the file again.

In [37]:
# 1. save results into the file again

data.dropna(inplace=True)

data.to_csv('data/movie_metadata_cleaned.csv')

# 2. read from the file again

data = pd.read_csv('data/movie_metadata_cleaned.csv')

# Look at how the duration field has been read in (float)
data.duration

0       178
1       169
2       148
3       164
4       132
       ...
3750    110
3751     90
3752     77
3753     81
3754     90
Name: duration, Length: 3755, dtype: int64

In [34]:
# Now force it to be an integer
data = pd.read_csv('data/movie_metadata_cleaned.csv', dtype={'duration': int})
data.duration

0       178
1       169
2       148
3       164
4       132
       ...
3750    110
3751     90
3752     77
3753     81
3754     90
Name: duration, Length: 3755, dtype: int64

In [36]:
# Same with actor_2_facebook_likes field

data = pd.read_csv('data/movie_metadata_cleaned.csv')
data.actor_2_facebook_likes

0         936.0
1        5000.0
2         393.0
3       23000.0
4         632.0
         ...
3750      133.0
3751        0.0
3752       45.0
3753       20.0
3754       23.0
Name: actor_2_facebook_likes, Length: 3755, dtype: float64

In [ ]:
# Force actor_2_facebook_likes to be a string

data = pd.read_csv('data/movie_metadata_cleaned.csv', dtype={'actor_2_facebook_likes': str})
data.actor_2_facebook_likes

## Change casing

- Columns with user-provided data are ripe for corruption. 
- People make typos, leave their caps lock on (or off), and add extra spaces where they shouldn’t.
- Let's see how to correct these issues

In [38]:
data['movie_title'].str.upper()

0                                         AVATAR
1       PIRATES OF THE CARIBBEAN: AT WORLD'S END
2                                        SPECTRE
3                          THE DARK KNIGHT RISES
4                                    JOHN CARTER
                          ...
3750                                       CLEAN
3751                                  THE CIRCLE
3752                                      PRIMER
3753                                 EL MARIACHI
3754                           MY DATE WITH DREW
Name: movie_title, Length: 3755, dtype: object

In [39]:
#  Let's get rid of trailing whitespace
data['movie_title'].str.strip()

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
3750                                       Clean
3751                                  The Circle
3752                                      Primer
3753                                 El Mariachi
3754                           My Date with Drew
Name: movie_title, Length: 3755, dtype: object

## DID YOU KNOW:  

### It is also possible to correct spelling mistakes in your data!

<div class="alert alert-block alert-success">

- We will not be covering this in our course, but you can read about it in your spare time
- It is called __FUZZY MATCHING__ 
- Fuzzy string matching uses __[Levenshtein Distance] (https://en.wikipedia.org/wiki/Levenshtein_distance)__ to calculate the differences between sequences
- note the exclamation sign below
    
</div>

<img src="data/images/fuzzy.jpg">

## Rename columns

- If your data was generated by a computer program, it probably has some computer-generated column names too. 
- Those can be hard to read and understand while working
- We can rename a column to something more user-friendly
- we have already practiced that in earlier pandas tutorial, let's remind ourselves how to do it

In [45]:
data.rename(columns = {'title_year':'release_date', 'movie_facebook_likes':'facebook_likes'})

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,...,num_user_for_reviews,language,country,content_rating,budget,release_date,actor_2_facebook_likes,imdb_score,aspect_ratio,facebook_likes
0,0,0,0,Color,James Cameron,723.0,178,0.0,855.0,Joel David Moore,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,1,1,1,Color,Gore Verbinski,302.0,169,563.0,1000.0,Orlando Bloom,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,2,2,2,Color,Sam Mendes,602.0,148,0.0,161.0,Rory Kinnear,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,3,3,3,Color,Christopher Nolan,813.0,164,22000.0,23000.0,Christian Bale,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,4,4,5,Color,Andrew Stanton,462.0,132,475.0,530.0,Samantha Morton,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,3750,3750,5026,Color,Olivier Assayas,81.0,110,107.0,45.0,Béatrice Dalle,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
3751,3751,3751,5027,Color,Jafar Panahi,64.0,90,397.0,0.0,Nargess Mamizadeh,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
3752,3752,3752,5033,Color,Shane Carruth,143.0,77,291.0,8.0,David Sullivan,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
3753,3753,3753,5035,Color,Robert Rodriguez,56.0,81,0.0,6.0,Peter Marquardt,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
3754,3754,3754,5042,Color,Jon Gunn,43.0,90,16.0,16.0,Brian Herzlinger,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Saving Results

- When you’re done cleaning your data, you may want to export it back into CSV format for further processing in another program.
- Always remember to save your data, otherwise all our efforts would be lost.

In [46]:
data.to_csv('data/movie_metadata_cleaned.csv', encoding='utf-8')

# NON-CODING DEMO SLIDES

<div class="alert alert-block alert-warning">
    
- There are many advanced techniques on how you can clean, inspect, process data

- <b>We won't do any coding</b>, but we will have a high level walk through to review some of them

- In the future you can explore these techniques in more detail
</div>


## Let's review how to identify and see:

- ##### Missing Data
- ##### Irregular Data

## Technique 1: Missing Data Heatmap

- When there is a smaller number of features, we can visualize the missing data via heatmap.
- The chart below demonstrates the missing data patterns of the first 30 features. 
    - The horizontal axis shows the feature name; 
    - the vertical axis shows the number of observations/rows; 
    - the yellow color represents the missing data while the blue color otherwise.
    
    
<img src="data/images/missing1.png">

## Technique 2: Missing Data Percentage List

- When there are many features in the dataset, we can make a list of missing data % for each feature.
- The list below shows the percentage of missing values for each of the features.

<img src="data/images/missing2.png">

## Technique 3: Missing Data Histogram

- Missing data histogram is also a technique for when we have many features.
- To learn more about the missing value patterns among observations, we can visualize it by a histogram.
- This histogram helps to identify the missing values situations among the 30,471 observations.

<img src="data/images/missing3.png">

# Irregular data (Outliers)

- Outliers are data that is distinctively different from other observations. 
- They could be real outliers or mistakes.
- Depending on whether the feature is numeric or categorical, we can use different techniques to study its distribution to detect outliers.

## Technique 1: Histogram/Box Plot

- When the feature is numeric, we can use a histogram and box plot to detect outliers.
- The data looks highly skewed with the possible existence of outliers.

<img src="data/images/outlier1.png">

## Technique 2: Bar Chart

- When the feature is categorical, we can use a bar chart to learn about its categories and distribution.
- For example, the feature ecology has a reasonable distribution. 
- But if there is a category with only one value called “other”, then that would be an outlier.

<img src="data/images/outlier2.png">

# Unnecessary data

- All the data feeding into the model should serve the purpose of the project. 
- The unnecessary data is when the data doesn’t add value. 
- We cover two main types of unnecessary data due to different reasons.

## Unnecessary type 1: Uninformative / Repetitive

- Sometimes one feature is uninformative because it has too many rows being the same value.
- We can create a list of features with a high percentage of the same value.
- For example, we specify below to show features with over 95% rows being the same value.

<img src="data/images/unnecessary1.png">

## Unnecessary type 2: Duplicates

- The duplicate data is when copies of the same observation exist.
- There are two main types of duplicate data

__1. Duplicates type 1: All Features based__

- This duplicate happens when all the features’ values within the observations are the same. 

__2.Duplicates type 2: Key Features based__

- Sometimes it is better to remove duplicate data based on a set of unique identifiers.
- For example, the chances of two transactions happening at the same time, with the same square footage, the same price, and the same build year are close to zero.
- We can set up a group of critical features as unique identifiers for transactions and we check if there are duplicates based on them.

> We will need to identiy and remove those duplicates (if necessary)